extends ../layouts/common
block content
	h1 User create
	if errors
		each error in errors
			div.alert.alert-danger= error

	form(action="/users/create", method="POST", enctype="multipart/form-data")
		div.form-group
			label(for="name") Name
			input#name.form-control(type="text", name="name", value=values ? values.name : "")
		div.form-group
			label(for="phone") Phone
			input#phone.form-control(type="text", name="phone", value=values ? values.phone : "")
		div.form-group
			label(for="avatar") Avatar
			input#avatar.form-control-file(type="file", name="avatar")
		button.btn.btn-primary Create
	
	
