extends ../layouts/common
block content
	h1 
		span Products
	div.container.d-flex
		form.ml-auto.d-flex
			input(type="text")
			a.btn.btn-primary(href="#") Search
	div.container
		div.row
			each product in products
				div.col-md-3
					div.card
						img(src=product.image).card-img-top
						div.card-body
							h4.card-title=product.name
							div.card-text=product.description
							a.btn.btn-outline-primary.mt-3(href="/cart/add/" + product.id) Add to cart
		.pt-5

							
	